$info-color: #4bb3d3;

.detailsContainer {
  background-color: #eef9fc;
  border-radius: 5px;
  padding: 1rem 1rem 1rem 2rem;
  border: 1px solid $info-color;
  margin: 1rem 0rem;

  summary {
    position: relative;
    list-style: none;
    cursor: pointer;

    &::before {
      font-size: 0.75em;
      margin-left: 0.2rem;
      content: '▶';
      top: 3px;
      color: $info-color;
      position: absolute;
      left: -1.5em;
      transition: transform 0.2s ease; /* Transition for rotating arrow */
    }
  }

  &[open] summary::before {
    transform: rotate(90deg); /* Rotate arrow to indicate the details is open */
  }
}
