.linksBox {
  display: block;
  background-color: #f5f5f577;
  text-align: left;
  border-radius: 8px;
  padding: 1.25rem 2.75rem;
  transition: all 0.2s ease;
  text-decoration: none;

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0.25rem;
    list-style-position: inside;
  }
}
