.titleWithSeparator {
  display: flex;
  flex-direction: column;
  align-items: center;

  .separator {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 1rem 0;
  }

  .title {
    margin-block-end: 0.335rem;
    font-weight: bold;

    @media (max-width: 960px) {
      font-size: 1.75rem;
    }
  }
}
