.ctaContainer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctaButton {
  // background-color: var(--color-cta-background);
  background-color: var(--color-cta-background-blue);
  border-radius: 40px;
  padding: 10px 20px;
  width: auto;
  max-width: 500px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 200ms ease-out 10ms;

  color: white;

  &:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    border: #8d9da9 solid 1px;
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: white !important;
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 0px 0px;
    height: 100%;
  }
}
