.ctaContainer {
  display: flex;
  align-items: center;
}

.ctaButton {
  background-color: var(--color-cta-background-blue);
  border-radius: 40px;
  padding: 10px 20px;
  width: auto;
  max-width: 500px;
  margin-bottom: 30px;

  transition: all 300ms ease-out 10ms;

  color: white;

  @media (max-width: 960px) {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: white !important;
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    height: 100%;
  }
}
