.dappCard {
  width: auto;
  height: 100%;
  box-sizing: border-box;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.12));
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.dappCardImage {
  transition: all 300ms ease-out;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.dappCard:hover .dappCardImage {
  transform: scale(1.04);
}

.dappsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
  grid-auto-rows: 1fr;
  width: 65%;
  margin-bottom: 2%;
  justify-self: center;

  @media (max-width: 960px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem 1rem;
  }

  @media (max-width: 670px) {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 0 1rem 1rem;
  }
}
