.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.containerSearch {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  @media (max-width: 960px) {
    width: 90%;
  }
}

.containerButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem 0;
  justify-content: center;

  @media (max-width: 960px) {
    margin-bottom: 5rem;
    gap: 1rem;
  }
}

.containerAccordion {
  max-width: 650px;
  margin-bottom: 0.75rem;

  h3 {
    margin-bottom: 1rem !important;
  }
}

.containerBoxes3Columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
  }
}

.containerBoxes2Columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
  }
}

.containerLukso {
  position: relative;
  height: 675px;

  @media (max-width: 960px) {
    height: auto;
    margin: 8rem 1rem !important;
  }
}

.containerLukso::before {
  content: '';
  position: absolute;
  background-image: url('../../static/img/lukso-bg.png');
  background-size: cover;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.35;
  z-index: -1;

  @media (max-width: 960px) {
    background-position-x: left;
    display: block; /* Ensure the pseudo-element is displayed on mobile */
  }
}

.subheader p {
  margin-bottom: 0;
}

.headerHero {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 3rem;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0;
  }

  button {
    margin: 2rem 0;
  }

  h2 {
    font-weight: var(--ifm-heading-font-weight);
    margin-bottom: 3rem;
  }
}
