.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-gap: 16px;

  a {
    max-width: 300px;
  }

  img {
    max-width: 300px;
  }

  &:last-child {
    margin-bottom: 80px;
  }

  @media (max-width: 960px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem 1rem;
  }

  @media (max-width: 670px) {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 0 1rem 1rem;
  }
}
