.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
}

.cardContainer {
  display: grid;
  max-width: 960px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 auto;
  padding: 1rem 0;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    max-width: 100%;
    margin: 0 1rem;
  }
}

.card {
  color: var(--ifm-font-color-base);
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-bottom: 1rem;

  padding: 3.325rem 3.0125rem;
  border-radius: 1.5625rem;

  background-color: var(--ifm-background-color);
  border: #f2f2f2 1px solid;

  transition: all 200ms ease-out 10ms;

  &:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }

  p {
    margin-bottom: 0;
  }
}
