.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 16px;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 0 1rem 1rem;
  }

  a {
    max-width: 300px;
  }

  img {
    max-width: 300px;
  }
}
