@media (min-width: 997px) {
  .legoCard {
    max-width: 31%;
  }
}

.legoCard {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 0.5rem;
  margin-left: 1rem;

  h3 {
    margin: 1em 0;
  }
}

.legoCard:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

.standardName {
  min-height: 40px;
}
