.headline {
    background-image: url("../../../static/img/icons/ellipse_top_gradient.png");
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
  
    h1 {
      font-size: 66px;
    }
  }