.headline {
  min-height: 500px;
  margin-bottom: -250px;
  text-align: center;

  padding-top: 1.25rem;
  padding-bottom: 1rem;

  h1 {
    font-family: var(--ifm-heading-font-family);
    font-size: 66px;
    line-height: 1.7;
  }

  @media (max-width: 960px) {
    h1 {
      font-size: 50px;
    }
  }

  @media (max-width: 670px) {
    background-size: cover;

    h1 {
      font-size: 40px;
    }
  }
}
