.card {
    color: var(--ifm-font-color-base);
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin-bottom: 1rem;
  
    padding: 1rem;
    border-radius: 1.5625rem;
  
    background-color: var(--ifm-background-color);
  
    transition: all 200ms ease-out 10ms;
  
    &:hover {
      transform: scale(1.05);
    }
  
    p {
      margin-bottom: 0;
      line-height: 1.25rem
    }
  
    a {
      max-width: 100%;
    }
  }