.image {
  justify-content: center;

  img:hover {
    transform: scale(1.05);
    transition: all 300ms ease-out;
  }
}

.rightBox {
  display: flex;
  align-items: center;
}

.title {
  @media (max-width: 680px) {
    font-size: 1.3rem;
  }
}
